root = true

[*]
# The files are utf-8 encoded
charset = utf-8
# Use tabs for indentation
# see https://alexandersandberg.com/articles/default-to-tabs-instead-of-spaces-for-an-accessible-first-environment/
indent_style = tab
# Use Unix line endings
end_of_line = lf
# No whitespace at the end of line
trim_trailing_whitespace = true
# A file must end with an empty line - this is good for version control systems
insert_final_newline = true

#########################
# File Extension Settings
#########################

[{Makefile*,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
indent_size = 4

# from https://github.com/NLeSC/python-template/blob/main/.editorconfig
# 4 tab indentation
[*.{py,java,r,R}]
indent_size = 4

# 2 tab indentation
[*.{js,json,html,cwl}]
indent_size = 2

# 2 space indentation
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Two spaces at the end of a line in Markdown mean "new line",
# so trimming trailing whitespace for such files can cause breakage.
[*.md]
trim_trailing_whitespace = false
